DATABASE_URL=postgresql://admin:replace-with-secure-password@db:5432/simple-schedules
JWT_SECRET="jwt secret let's hope this is safe"
ADMIN_EMAIL='admin@staging.com'
ADMIN_PASSWORD='adminpassword123'
ADMIN_LOOKAHEAD_DAYS=180
CUSTOMER_LOOKAHEAD_DAYS=14
